###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/


###############
#  temp file  #
###############
log.txt


# Visual Studio 2015/2017 cache/options directory
.vs/

# Solutions
*.sln.DotSettings.user